<div class="container">
    <img ng-src="{{$ctrl.header}}" alt="{{$ctrl.books[0].category}} Header" />
    <div class="row">
        <div 
            ng-repeat="book in $ctrl.books | filter:searchText"
            class="col-md-2"
            style="margin-bottom: 50px;"
        >
            <div class="card" style="width: 15rem;">
                <img ng-if="book.image.length > 0" ng-src="{{book.image}}" class="card-img-top" alt="{{book.name}}">
                <div class="card-header">
                    <a ng-href="{{book.link}}">{{book.name}}</a>
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">{{book.name}}</h5> -->
                    <p class="card-text">{{book.description}}</p>
                    <a ng-href="{{book.link}}" target="_blank" class="btn btn-success">Official Link</a>
                    <div>
                        <span class="badge badge-pill" style="margin-left: 5px">{{book.price}}</span>
                    </div>
                </div>
                <div class="card-footer">
                    <span ng-if="book.date.length > 0">{{book.date | toDate | date:'mediumDate'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>